.cluster {
	.cluster-label {
	    padding: 10px 15px;
	}
	.ibox {
		.ibox-title {
			span{
				font-weight: normal;
			    line-height: 22px;				
			}
		}
	}
	.list-label {
		float: left;
		font-weight: bold;
	}
	.progress {
	    width: 100%;
	    height: 10px;
	    margin: 10px 0;		
	}
	.usage {
	    padding: 0 15px;
	    .border-right {
	    	border-right: 1px solid #e7eaec;
	    }
		[class^=col-] {
			padding: 10px 15px !important;
			text-align: center;
		}
		.list-label {
			text-align: left;
			float: none;
			padding-bottom: 10px;
		}
		.usage-addon {
		    font-size: 12px;
		    padding-top: 5px;
		}
	}
	.progress-bar {
		transition: none;
		-webkit-transition: none;
	}
}