$border-color: darken(#505460, 5%);
.dark-ui {
// .btn-default {
//   background-color: $content-bg;

//   &:hover {
//     background-color: lighten($box-bg, 10%);
//     border-color: lighten($box-bg, 10%);
//   }
// }

.job-filter {
	.btn-group {
		.btn {
			background-color: $content-bg;
			border-color: $border-color;
			&.selected {
				background-color: #3c4457;
				.badge-white {
					background-color: #fff;
				}
			}
			&:focus, &:active, &:visited {
				color: #fff;
			}
		}
		.badge-white {
  			background-color: #626875;
			color: #232836;
			margin-left: 8px;
		}
	}
	.job-search {
		span {
			color: $border-color;
		}		
	}

	.form-control {
		background-color: $content-bg;
		border-color: $border-color;
		&:focus, &:active, &:visited{
			border-color: $purple !important;
		}
	}	
}

.job-list {
	th {
		background-color: #2d3340;
		border-bottom: 1px solid #3F4551 !important;
		color: $gray;
	}
	td {
		background-color: $content-bg;
		border-color: $border-color !important;
	}
	.progress {
	    background-color: #1c202b;
		.progress-bar {
			background-color: #2D4351;
		}
	}
}

.dcc-list {
  	.progress {
      	background-color: #1c202b;
    	.progress-bar {
      		background-color: #2D4351;
    	}	
	}
}
}