.allocation-chart {
	.chart-label {
		color: $gray
	}
	.chart-stat {
		font-size: 24px;
		small {
			margin-left: 2px;
			font-size: 18px;
		}
	}
	&.small {
		.chart-stat {
			font-size: 16px;
			small {
				font-size: 14px;
			}
		}
		.chart-svg {
			margin-top: 10px;
		}
		&:last-child {
			margin-top: 10px;
		}
	}
}

.job-box {
	min-height: 262px;
	.job-title {
		padding: 5px 0 10px 0;
	}
	.job-stat {
		text-align: center;
	}
	.job-piechart {
		text-align: center;
	}
	.job-count {
		font-size: 48px;
		font-weight: 200;
		line-height: 64px;
	}
	.job-count-label {
		line-height: 18px;
		padding: 18px 0;
		color: $gray;
		float: left;
		width: 40px;
	}
	.job-kind {
		text-align: center;
		margin: 5px 0;
		.job-kind-num {
			font-size: 24px;
		}
		&:nth-child(2) {
			border-left: 1px solid #383e4a;
			border-right: 1px solid #383e4a
		}
	}
	.job-divider {
	    display: table;
	    white-space: nowrap;
	    height: auto;
	    margin: '';
	    overflow: hidden;
	    line-height: 1;
	    text-align: center;	
	    font-size: 12px;
	    color: $gray;	
	    margin-bottom: 10px;
		&:before, &:after {
		    content: '';
		    display: table-cell;
		    position: relative;
		    top: 50%;
		    width: 50%;
		    background-repeat: no-repeat;
		    background-image: url('../assets/images/line.png')
		}
		&:before {
			background-position: right 1em top 50%;
		}
		&:after {
			background-position: left 1em top 50%;
		}
	}
	.job-items {
		padding-top: 10px;
	}
	.job-item {
		margin: 10px 0;
	}
}

.task-overview-box {
	.task-overview-svg {
		width: 100%;
		text-align: center;
		position: relative;
	}
	.task-overview-stat {
		text-align: center;
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		font-size: 40px;
		font-weight: 200;
		line-height: 30px;
	    padding: 47px 0;
		small {
			display: block;
			color: $gray;
			font-size: 14px;
			font-weight: normal;
		}
	}
	.task-overview-addon {
		margin-top: 20px;
		.task-overview-item {
			float: left;
			font-size: 20px;
			font-weight: 300;
			text-align: center;
			small {
				display: block;
				font-size: 12px;
				font-weight: normal;
			}
			&:first-child {
				border-right: 1px solid #383e4a;
			}
		}
	}
}

.waittime-chart.chart {
	width: 100%;
}

.waittime-chart {
	.chart-stat {
		text-align: center;
		font-size: 28px;
		font-weight: 200;
		small {
			margin-left: 5px;
		}
	}
	.chart-label {
		text-align: center;
		margin-bottom: 22px;
	}
}