#task-detail {
	.content-title .addon {
	    font-size: 13px;
	    margin-top: 10px;
	}
	.label {
		margin-right: 20px;
	}
	.basic-information .dl-horizontal dt {
		color: #8e929b;
	}
}

.task-tab {
	margin-top: 20px;
}