$purple:		#9056df;
$white: #fff;
$gray: #82848f;
$green: #34ca7d;
$red: #f74863;
$yellow: #fac543;
$blue: #3188ff;
$pink: #f6478f;


$content-bg: #232937;


$sidebar-bg: #fff;
$sidebar-header-ip-color: #a364e6;
$sidebar-header-image-bg: #d2d8df;

$sidebar-menu-color:  #727272;
$sidebar-menu-active-color: $purple;
$sidebar-menu-active-bg: #faf7fe;
$sidebar-menu-active-border: #793ac6;
$sidebar-width: 200px;

$header-height: 45px;
$header-margin-left: 0;
$header-bg: $purple;
