<a back-button class="btn-back"><i class="fa fa-chevron-left"></i>Back</a>
<div id="task-detail" ng-controller="TaskDetailController" class="fadeIn animated">
	<h3 class="content-title">
		{{task.id}}
		<div class="addon">
	    	<span class="label label-{{task.state | taskStatusLabel}}">{{task.state | taskStatus}}</span>
	    	<span>{{task.create_time | relativeDate}}</span>
		</div>
	</h3>
	<div class="job-resource">
		<div class="resource-item">
			<div class="dcci dcci-cpu resource-icon"></div>
			<div class="resource-detail">
				<div class="resource-stat">{{task.cpus}}</div>
				<div class="resource-name text-purple">CPU</div>
			</div>
		</div>
		<div class="resource-item">
			<div class="dcci dcci-mem resource-icon"></div>
			<div class="resource-detail">
				<div class="resource-stat">{{task.mem}} MB</div>
				<div class="resource-name text-pink">MEMORY</div>
			</div>
		</div>
		<div class="resource-item">
			<div class="dcci dcci-disk resource-icon"></div>
			<div class="resource-detail">
				<div class="resource-stat">{{task.disk}} MB</div>
				<div class="resource-name text-blue">DISK</div>
			</div>				
		</div>				     
	</div>	
	<div class="clearfix"></div>

	<uib-tabset class="task-tab dcc-tab">
    	<uib-tab index="0" heading="Detail">
    		<div class="row basic-information">
				<dl class="dl-horizontal">
					<dt>ID:</dt>
					<dd ng-bind="task.id"></dd>
					<dt>Image:</dt>
					<dd ng-bind="task.docker_image"></dd>
					<dt>Cpus:</dt>
					<dd ng-bind="task.cpus"></dd>
					<dt>Node:</dt>
					<dd ng-bind="task.slave_hostname"></dd>
					<dt>Status:</dt>
					<dd ng-bind="task.status"><span class="label label-{{task.label_class}}"></span></dd>
					<dt>Create time:</dt>
					<dd>{{task.create_time | relativeDate}}</dd>
					<dt>Memory:</dt>
					<dd ng-bind="task.mem"></dd>
					<dt>Ports:</dt>
					<dd>
						<ul>
							<li ng-repeat="port in task.port_mappings">
								<a ng-href="http://{{task.slave_host}}:{{port.host_port}}" target="_blank">{{port.host_port}}</a>
							</li>
						</ul>
					</dd>	
					<dt>Slave IP:</dt>
					<dd>{{task.slave_host}}</dd>
					<dt>Slave Hostname:</dt>
					<dd>{{task.slave_hostname}}</dd>					
					<dt>SlaveID:</dt>
					<dd>{{task.slave_id}}</dd>							
				</dl>  
	  		</div>
		</uib-tab>
		<uib-tab index="2" heading="Monitor">
			<div class="col-sm-12">
				<div ng-controller="TaskDetailCpuController">
					<h2>CPU</h2>
					<div ng-if="nodata" class="nodata">
						Task is not running now, no  data to show.
					</div>
					<canvas id="cpu" class="chart chart-line" chart-data="data" chart-options="options" chart-labels="labels" chart-legend="true" chart-series="series" chart-colours="colours"
					  height="60">
					</canvas>
				</div>
				<div ng-controller="TaskDetailMemController">
					<h2>MEM</h2>
					<div ng-if="nodata" class="nodata">
						Task is not running now, no  data to show.
					</div>	
					<canvas id="mem" class="chart chart-line" chart-data="data"
					  chart-labels="labels" chart-legend="true" chart-options="options" chart-series="series" chart-colours="colours"
					  height="60">
					</canvas> 
				</div>
			</div>
		</uib-tab>
		<uib-tab index="3" heading="Log">
			<div class="col-sm-12">
				<div ng-controller="TaskDetailLogController">
					<div ng-repeat="log in logs" class="log-line">{{log|formatLogs}}</div>
					<button class="btn btn-sm pull-right btn-primary" ng-click="download()">Download</button>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="4" heading="Output">
			<div class="col-sm-12">
				<div ng-controller="TaskDetailOutputController">
					<div ng-repeat="out in output track by $index" class="log-line">{{out|formatLogs}}</div>
					<button class="btn btn-sm pull-right btn-primary" ng-click="download()">Download</button>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
	<div class="clearfix"></div>
</div>
